.menu-mobile
    position:  fixed
    width: 150px
    height: 100%
    left: -150px
    top: 0
    background-color: $cinza

    &.ativo
        +transition(.2s)
        left: 0

    ul 
        li            
            a 
                padding: 7px
                display: block
                color: $branco
                border: 1px solid $cinza
                &:hover,
                &:focus
                    background-color: rgba($branco,1)
                    border: 1px solid $branco
                    color: $preto


.layout
    &.ativo
        +transition(.2s)
        padding-left: 150px

.toggle