section.posts
    +clearfix
    background:
        color: $preto
    padding: 30px 0 0 0


    .post-box
        //padding: 10px 10px 10px 10px
        margin: 20px 0 40px 0
        min-height: 222px
        background:
            color: $cinza
        color: $branco
        img
            float: left
            witdh: 360px
            height: 202.5px
            margin: 10px 10px 10px 10px

    .textos
        padding: 20px 20px 20px 20px
    


